.turkey-county{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;    
  margin-top: 50px;
}

#turkey-county-map{
  width: 100%;
  height: auto;
}

.county{
  position: absolute;
  z-index: 2;
}
.county div{
  font-family: 'Open Sans';
  display: inline-block;
  background: #1094F6;
  color: #fff;
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#turkey-county-map path {
  cursor: pointer;
  fill: #222;
}
#turkey-county-map path:hover {
  fill: #1094F6;
}

